@media only screen and (min-width: 930px) {
	.hero-section {
		background-image: url(images/bg-image.jpeg);
		height: 100vh;
		padding: 0 40px;
		background-size: cover;
	}
	.outer-div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.outer-div img {
		width: 200px;
		margin: 0 50px;
	}

	.inner-div {
		margin-right: 80px;
	}

	.inner-div input {
		margin: 0 10px;
		padding: 6px 10px;
	}
	#signin {
		padding: 10px 20px;
	}
	#lang {
		padding: 10px 20px;
	}
	.text-field {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 130px;
		color: white;
		padding: 0 40px;
	}

	#first {
		font-size: 60px;
		text-align: center;
		font-weight: 900;
	}

	#second,
	#third {
		font-size: 25px;
		margin-top: 10px;
	}

	#email {
		width: 350px;
		height: 50px;
		padding: 0 20px;
		outline: 0;
		border-radius: 5px;
		border: 1px solid white;
		background-color: rgba(0, 0, 0, 0.609);
		backdrop-filter: blur(5px);
		color: white;
		font-size: 17px;
	}

	#submit {
		height: 50px;
		width: 170px;
		font-size: 20px;
		background-color: red;
		color: white;
		border: none;
		border-radius: 5px;
	}
	#submit:hover {
		background-color: rgb(196, 6, 6);
		transition: 0.5s;
		cursor: pointer;
	}
	.input-field {
		margin-top: 20px;
	}

	.hero-section-2 {
		color: white;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px 100px;
	}

	.hero-section-2 img {
		background-color: white;
		width: 460px;
	}

	.text-field-2 {
		margin: 0 4rem;
	}
	.text-field-2 h1 {
		font-size: 50px;
	}

	.text-field-2 p {
		font-size: 25px;
		margin-top: 10px;
	}

	.hero-section-3 {
		color: white;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px 80px;
	}
	.text-field-3 {
		margin: 0 4rem;
	}
	.text-field-3 h1 {
		font-size: 50px;
	}

	.text-field-3 p {
		font-size: 25px;
		margin-top: 10px;
	}
	.hero-section-4 {
		color: white;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px 120px;
	}

	.hero-section-4 img {
		width: 450px;
	}
	.text-field-4 {
		margin: 0 20px 20px;
		text-align: center;
		font-size: 28px;
	}
}
